*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    text-align: center;

}

div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: rgb(8, 223, 152);
    margin: 10px;
    color: rgb(49, 52, 102);
    padding: 15px;
}

.ingles{
    background: rgb(2, 22, 46);
}


.rgb{
    background: rgb(86, 163, 18);
}


.rgb2{
   background-color: rgb(14, 225, 35);
}


.rgb3{
   background-color: rgb(43, 202, 157);
}


.hex{
    background: rgb(53, 81, 8);
}

.hex2{
    background: rgb(99, 231, 70);
}

.gradiente1{
    background: rgb(149, 46, 234);
    background: linear-gradient(0deg, #1f7f3f, #fd1d1d, #45fce1);
}

.gradiente2{
    background: rgb(233, 79, 71);
    background: linear-gradient(0deg, #13787d, #082f02, #33a913);
}
.gradiente3{
    background: radial-gradient(circle at 100%, #a33e3e, #d04545 50%, #f22b2b 75%, #eb0b0b 75%)
}

.c1{
    background: linear-gradient(0deg, red, yellow, orange );
}

.c2{
    background: linear-gradient(0deg, rgb(109, 206, 35), rgb(31, 157, 65), rgb(45, 225, 138) );
}

.c3{
    
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #fcb045;
        color: #e04747;

}

.c4{
    color: #b36108(275,0%, 9%);
    background: linear-gradient(0deg, rgb(46, 206, 208), rgb(148, 26, 200), rgb(198, 25, 108) );
}