*{

    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    text-align: center;


}
div{ 
  width: 200px; 
  height: 200px;
   background: margin 20px auto;
   margin:20px auto; 
   pading:30px; 
    border:10px solid red;
     RENE RENE está presentando